*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp
*.ini~
*.lock
*cache
.DS_Store

pids
logs
results
error_log
cgi-bin

npm-debug.log
node_modules
assets/vendor

.sass-cache
*.map

assets/scripts/global.js
assets/styles/styles.css
