*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp
*.ini~
*.lock
*cache
.DS_Store

pids
logs
results
error_log
cgi-bin

npm-debug.log
node_modules
assets/vendor

.sass-cache
*.map

config.codekit
.codekit-cache
assets/scripts/app.js
assets/scripts/vendor.js
assets/scripts/global.js
style.css
styles.css
