// --------------------------------------------------------------------------
//
//  Clearing
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//   Mixins
// --------------------------------------------------------------------------

@mixin clearfix {
  clear: both;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin clear {
  @include clearfix;
}

@mixin cf {
  @include clearfix;
}


// --------------------------------------------------------------------------
//   Useage classes
// --------------------------------------------------------------------------

%clear {
  @include clearfix;
}
