// ==========================================================================
//
//  Mixins
//    Place any prefix fixing or often used attribute bundles here
//
// ==========================================================================

// --------------------------------------------------------------------------
//   Opacity
// --------------------------------------------------------------------------

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}


// --------------------------------------------------------------------------
//   CSS Hyphens
// --------------------------------------------------------------------------

@mixin css-hyphens($val) {
  // Accepted values: [ none | manual | auto ]
  -webkit-hyphens: $val;  // Safari 5.1 thru 6, iOS 4.2 thru 6
  -moz-hyphens: $val;    // Firefox 16 thru 20
  -ms-hyphens: $val;    // IE10
  -o-hyphens: $val;    // PRESTO...haha LOL
  hyphens: $val;      // W3C standard
}


// --------------------------------------------------------------------------
//   Size an element
// --------------------------------------------------------------------------

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
