// --------------------------------------------------------------------------
//
//   Primary Navigation
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//   Wrapper
// --------------------------------------------------------------------------

.primary-navigation-wrapper {

}


// --------------------------------------------------------------------------
//   Menu
// --------------------------------------------------------------------------

.primary-navigation {
  margin: 0;
  padding: 0;
}

  .primary-navigation-menu-item {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;

    &.menu-item--active {

    }
  }

  .primary-navigation-sub-menu {
    margin: 0;
    padding: 0;

    .primary-navigation-menu-item {
      display: block;
    }
  }
