// --------------------------------------------------------------------------
//
//  Sections
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//   Wrapper
// --------------------------------------------------------------------------

.wrapper {
  display: block;
  position: relative;
  padding: $gap * 2 $gap;
}


// --------------------------------------------------------------------------
//   Container / Centering
// --------------------------------------------------------------------------

.container {
  @include center;
}
